#gallery {
    float: right;
    position: relative;
    box-shadow: 0 0 10px black;
    z-index: 0;
}

#galleryImg{
    position: relative;
    z-index: 1;
}

#galleryImgTemp{
    top: 0px;
    position: absolute;
    z-index: 2;
}

#desc {
    position: absolute;
    color: #ecf0f1;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
}
