#gallery {
    width: 0px;
    position: relative;
    z-index: 0;
    top: -50px;
    left: -50px;
    box-shadow: 0 0 10px #606060;
}

#galleryImg{
    position: relative;
    z-index: 1;
}

#galleryImgTemp{
    position: absolute;
    z-index: 2;
    top: 0px;
}

#desc {
    position: absolute;
    z-index: 3;
    color: #ecf0f1;
    background-color: rgba(0, 0, 0, 0.6);
}

#bar {
    width: 0px;
    position: absolute;
    z-index: 3;
    float: left;
    background-color: #2980b9;
}

#selector {
    position: relative;
    top: -25px;
    border-spacing: 25px 0px;
}

#sb0 {
    background-color: #45a1de;
}

.selectorBox {
    box-shadow: 0 0 2px #606060;
    background-color: #e1e7e9;
}
