body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #333333;
    background-color: #45a1de;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

ul {
    min-width: 600px;
    padding: 0px;
    overflow: hidden;
    list-style-type: none;
    text-decoration: none;
}

td {
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
    padding-top: 10px;
}

button {
    padding: 8px;
    outline: none;
    border: 0;
    border-radius: 4px;
    color: #ecf0f1;
    background-color: #00A65A;
    box-shadow: 0 0 2px #606060;
    font-size: 16px;
}

button:hover {
	background-color: #008D4C;
}

button:active {
    box-shadow: inset 0 0 10px #606060;
}

#buttonCell {
    padding-bottom: 10px;
}

#tab {
    float: right;
    display: inline;
    color: #ecf0f1;
    text-align: center;
}

#tab a {
    float: right;
    display: inline;
    color: #ecf0f1;
    transform: translateY(0px);
    transition: transform 200ms;
    text-decoration: none;
}

#tab a:hover {
    transform: translateY(-5px);
    transition: transform 200ms;
}

#logo {
    float: left;
    margin-left: 16px;
}

#container {
    min-width: 600px;
    padding: 50px;
    background-color: #ecf0f1;
    box-shadow: 0 0 10px #606060;
}

#sf {
    transform: translateX(-54px);
    border-spacing: 50px;
}

.script {
    border-radius: 4px;
    background-color: #e1e7e9;
    box-shadow: 0 0 2px #606060;
    border-collapse: collapse;
    table-layout: fixed;
}

@media {
    ul {
        margin: 0px;
        font-size: 16px;
    }

    #tab {
        width: 120px;
    }

    #tab a {
        width: 120px;
        padding: 32px 0px 32px 0px;
    }

    #logo {
        height: 82px;
    }

    #container {
        margin: 50px 0px 50px 0px;
    }
}

@media (min-width: 800px){
    ul {
        margin: 50px 100px 0px 100px;
        font-size: 16px;
    }

    #tab {
        width: 120px;
    }

    #tab a {
        width: 120px;
        padding: 32px 0px 32px 0px;
    }

    #logo {
        height: 82px;
    }

    #container {
        margin: 50px 120px 50px 120px;
    }
}

@media (min-width: 1024px) {
    ul {
        margin: 50px 100px 0px 100px;
        font-size: 20px;
    }

    #tab {
        width: 160px;
    }

    #tab a {
        width: 160px;
        padding: 36px 0px 36px 0px;
    }

    #logo {
        height: 96px;
    }

    #container {
        margin: 50px 100px 50px 100px;
    }
}

@media (min-width: 1366px) {
    ul {
        margin: 50px 200px 0px 200px;
        font-size: 24px;
    }

    #tab {
        width: 200px;
    }

    #tab a {
        width: 200px;
        padding: 40px 0px 40px 0px;
    }

    #logo {
        height: 108px;
    }

    #container {
        margin: 50px 200px 50px 200px;
    }
}

@media (min-width: 1600px) {
    ul {
        margin: 50px 300px 0px 300px;
        font-size: 24px;
    }

    #tab {
        width: 200px;
    }

    #tab a {
        width: 200px;
        padding: 48px 0px 48px 0px;
    }

    #logo {
        height: 132px;
    }

    #container {
        margin: 50px 300px 50px 300px;
    }
}
