@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

body {
    overflow: hidden;
    font-family: Roboto;
}

ul {
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    list-style-type: none;
    background-color: #45a1de;
    box-shadow: 0 0 10px #202020;
    text-shadow: 0 0 7px #404040;
    text-decoration: none;
}

@media (min-width: 1024px) {
    ul {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    ul {
        font-size: 20px;
    }
}

@media (min-width: 1366px) {
    ul {
        font-size: 24px;
    }
}

@media (min-width: 1600px) {
    ul {
        font-size: 30px;
    }
}

#tab {
    float: right;
    display: inline;
    background-color: #45a1de;
    color: #ecf0f1;
    text-align: center;
}

#tab a {
    float: left;
    display: inline;
    background-color: #45a1de;
    color: #ecf0f1;
}

@media (min-width: 1024px) {
    #tab {
        width: 160px;
    }

    #tab a {
        width: 160px;
        padding: 30px 0px 30px 0px;
    }
}

@media (min-width: 1280px) {
    #tab {
        width: 200px;
    }

    #tab a {
        width: 200px;
        padding: 36px 0px 36px 0px;
    }
}

@media (min-width: 1366px) {
    #tab {
        width: 240px;
    }

    #tab a {
        width: 240px;
        padding: 40px 0px 40px 0px;
    }
}

@media (min-width: 1600px) {
    #tab {
        width: 300px;
    }

    #tab a {
        width: 300px;
        padding: 48px 0px 48px 0px;
    }
}

#tab a:hover {
    background-color: #2980b9
}

#logo {
    float: left;
}

@media (min-width: 1024px) {
    #logo {
        height: 84px;
    }
}

@media (min-width: 1280px) {
    #logo {
        height: 96px;
    }
}

@media (min-width: 1366px) {
    #logo {
        height: 108px;
    }
}

@media (min-width: 1600px) {
    #logo {
        height: 132px;
    }
}

#logoText {
    line-height: 50%;
    color: white;
    font-style: italic;
}

@media (min-width: 1024px) {
    #logoText {
        font-size: 10px;
    }
}

@media (min-width: 1280px) {
    #logoText {
        font-size: 12px;
    }
}

@media (min-width: 1366px) {
    #logoText {
        font-size: 16px;
    }
}

@media (min-width: 1600px) {
    #logoText {
        font-size: 20px;
    }
}

#content {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: -1;
}
